.row-fluid{
    margin-bottom: 5px;
}
.container-fluid{
    margin-top: 10px;
}
.navbar-inner a.custom-font{
    color: #ffffff;
    float: right;
    font-weight: bold;
    margin-left: 20px;
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
    transition: all 0.2s linear 0s;
}

#msg{
    width:100%;
    height:200px;
    overflow:auto;
    padding-left: 5px;
    color:#008000;
    font-size: 13px;
    font-weight: bold;
    background-color: #000000;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* ie8  */
    filter:alpha(opacity=90);    /* ie5-7  */
    -moz-opacity:0.9;    /* old mozilla browser like netscape  */
    -khtml-opacity: 0.9;    /* for really really old safari */
    opacity: 0.9;    /* css standard, currently it works in most modern browsers like firefox,  */
}